html, body {
	font-family: "Lato";
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #141414;
	color: #fafafa;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: #fafafa;
}