#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;

}

#descriptionContainer {
	display: flex;
	width: 75%;
	justify-content: space-between;
	align-items: center;
}

#aboutText {
	text-align: justify;
	font-size: var(--regular-font-size);
	width: 45%;
	padding: 2rem;
	border: 2px dashed var(--accent-color);
	background: rgba(244, 143, 177, 0.05);
	border-radius: 16px;
	backdrop-filter: blur(6px);
}

#myPictureBox {
	display: flex;
	justify-content: right;
	width: 45%;
	transform: translateY(16vh) rotate(11deg);
}

#myPicture {
	min-width: 300px;
}


@media (max-width: 1270px) {
	#descriptionContainer {
		flex-direction: column;
		justify-content: center;
	}
	#myPictureBox {
		justify-content: center;
		margin-bottom: 1rem;
		transform: translateY(17vh) rotate(-9deg) ;
	}
	#aboutText {
		transform: translateY(8vh);
		width: 100%;
	}
}

@media (max-width: 769px) {
	#aboutText {
		hyphens: auto;
	}
	#myPictureBox {
		transform: translateY(19vh) rotate(-9deg) ;
	}
}
