#intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 95vh;
	width: 75vw;	
}

#introHeader, #downArrow {
	margin-top: auto;
}

#downArrow {
	padding-bottom: 24px;
	transition: var(--slow-transition);
}

#downArrow:hover *:not(:first-child), #downArrow:focus *:not(:first-child) {
	cursor: pointer;
	transition: var(--fast-transition);
	stroke: var(--accent-color);
}
