nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: var(--navigation-height);
	min-height: 45px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

#navContent {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 25vw;
	min-width: fit-content;
	padding-right: min(5vw, 4rem);
	padding-left: min(5vw, 4rem);
	font-size: min(5vw, 22px);
	background-color: var(--primary-color);
	border-bottom: 1px solid var(--secondary-color-dimmed);
	transition: var(--slow-transition);
}

#navContent a:not(:last-child) {
	margin-right: min(7vw, 3rem);
}

#navContent a {
	transition: var(--fast-transition);
}

#navContent a:hover {
	font-weight: 900;
	color: var(--accent-color);;
}

#navContent a.scrollAnimation {
	font-weight: bold;
	color: var(--accent-color);;
}
