#cvDownloadButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px 72px 24px 72px;
	background-color: #d4b5db;
	
}

#cvDownloadButton:hover {
	background-color: #d4b5dbdb;
}

#cvText {
	margin-left: 6px;
	color: #141414;
	font-size: 22px;
	font-weight: 900;
}