#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 77vh;
	width: 75vw;
	transform: translateY(-11vh)
}

#callText {
	font-size: var(--header-font-size);
	text-align: center;
}

#cvDownloadButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: min(30vw, 200px);
	height: min(15vw, 64px);
	margin-top: min(10vw, 64px);
	margin-bottom: min(10vw, 64px);
	background: var(--accent-color);
	border-radius: 16px;
	transition: var(--fast-transition);
}

#cvDownloadButton:hover {
	background: var(--secondary-color);
}

#cvText {
	margin-left: 5%;
	color: var(--primary-color);
	font-size: 22px;
	font-weight: 900;
}

@media (max-width: 769px) {
	#cvText {
		font-size: 16px;
	}
}

#cvDownloadImage {
	width: fit-content;
	height: 40%;
}

#contactsBar {
	display: flex;
	justify-content: center;
	width: fit-content;
	padding: 1rem;
	border: 2px dashed var(--accent-color);
	background: rgba(244, 143, 177, 0.05);
	border-radius: 16px;
	backdrop-filter: blur(6px);
}

#contact .logoLink:not(:last-child) {
	margin-right: min(3vw, 2rem);
}

#contact .contactLogo {
	width: 100%;
	height: 100%;
	max-width: 96px;
}

#contact .contactLogo * {
	transition: var(--fast-transition);
}

#contact .contactLogo:hover {
	fill: var(--accent-color);;
}

#contact .contactLogo:hover *:not(:first-child){
	stroke: var(--accent-color);;
}
